package ${package.Event};

import ${package.Aggregate}.${aggregate};
import com.lvwj.halo.core.domain.event.DomainEvent;
import lombok.Getter;

/**
 * <p>
 * 领域事件：$!{table.comment}已创建
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Getter
public class ${aggregate}CreatedEvent extends DomainEvent<${aggregate}> {

    public ${aggregate}CreatedEvent(${aggregate} agg) {
        super(agg);
    }

    public static ${aggregate}CreatedEvent of(${aggregate} agg) {
        return new ${aggregate}CreatedEvent(agg);
    }
}
