package ${package.FacadeImpl};

import ${responseWrapperClassPackage};
import ${package.Facade}.${aggregate}RpcFacade;
import ${package.Request}.${aggregate}CreateReq;
import ${package.Request}.${aggregate}UpdateReq;
import ${package.ApplicationService}.${aggregate}CmdService;
import ${package.ApplicationService}.${aggregate}QryService;
#if(${dubbo})
import org.apache.dubbo.config.annotation.DubboService;
import org.apache.shenyu.client.dubbo.common.annotation.ShenyuDubboClient;
#end
import org.springframework.stereotype.Component;
import org.springframework.beans.factory.annotation.Autowired;

/**
 * <p>
 * $!{table.comment} - RPC接口
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${dubbo})
@DubboService(version = "1.0.0", timeout = 60000)
#end
@Component
public class ${aggregate}RpcFacadeImpl implements ${aggregate}RpcFacade{

    @Autowired
    private ${aggregate}CmdService cmdService;

    @Autowired
    private ${aggregate}QryService qryService;

    #if(${dubbo})
    @ShenyuDubboClient(path = CREATE)
    #end
    @Override
    public ${responseWrapperClass}<Boolean> create(${aggregate}CreateReq req) {

        return null;
    }

    #if(${dubbo})
    @ShenyuDubboClient(path = UPDATE)
    #end
    @Override
    public ${responseWrapperClass}<Boolean> update(${aggregate}UpdateReq req) {

        return null;
    }
}
